
.magnifier-table {
    height: 100%;
    display: table;
    margin: 0 auto;
}

.magnifier-cell {
    display: table-cell;
    vertical-align: middle;
}

.magnifier-container {
    width: 1024px;
    height: 768px;
    position: relative;
}

.magnifier-background {
    background-repeat: no-repeat;
    background-size: 1024px 768px;
    height: 100%;
}

